*.tar*
takara_human_V2/workflow/config/config_archive/
takara_human_V2/TabulaSapiens.h5ad
takara_human_V2/TabulaSapiens.h5seurat
takara_human_V2/noplatelet
takara_human_V2/for_nancy
takara_human_V2/convert.R
takara_human_V2/to50bp
takara_human_V2/resequence
takara_human_V2/rarefaction_resequence
takara_human_V2/rarefaction
takara_human_V2/references
takara_human_V2/prep_tables
takara_human_V2/logs
takara_human_V2/output
takara_human_V2/data
takara_human_V2/sequencing_prep.tsv
*.ipynb
*.pdf
analysis/
wbRNA_analysis/
archive/
*.snakemake*
*.ipynb_checkpoints/*
machine_learning/output/
machine_learning/.ipynb_checkpoints/
*.Rhistory*
*.RDada*
